<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.yt.BzmCommonMapper">

  <select id="selectCourses" resultType="com.company.project.model.returns.mp.CourseResult">
	SELECT cc.res_id as resId, cc.course_name as courseName, cc.course_resume as courseResume, cc.icon_url as iconUrl, cc.course_price as coursePrice,
		EXISTS ( SELECT co.id FROM bzm_course_order co WHERE co.course_classify_id = cc.res_id AND co.user_id = #{userId} AND co.order_status = 'YWC') AS learning,
		(SELECT count(id) FROM bzm_course c WHERE c.classify_id = cc.res_id AND c.delete_flag = 'N' and c.show_status = 'Y') AS courseNum
	FROM bzm_course_classify cc
	WHERE cc.delete_flag = 'N' and cc.release_status = 'Y' and cc.sales_status = 'Y' ORDER BY learning DESC, cc.hot_no DESC LIMIT ${start}, ${size}
  </select>
  
   <select id="selectFives" resultType="com.company.project.model.returns.mp.FivesResult">
	SELECT
		f.res_id as resId,
		f.fives_name as fivesName,
		f.fives_resume as fivesResume,
		f.customer_service_tel as customerServiceTel,
		f.addr_detail as addrDetail,
		f.addr_lng as addrLng,
		f.addr_lat as addrLat,
		f.cover_pic_url as coverPicUrl
	FROM bzm_fives f
	WHERE f.delete_flag = 'N'
		<if test="name != null">
			and f.fives_name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="provinceCode != null">
			and f.addr_province = #{provinceCode}
		</if>
		<if test="cityCode != null">
			and f.addr_city = #{cityCode}
		</if>
		<if test="countyCode != null">
			and f.addr_county = #{countyCode}
		</if>
	 ORDER BY f.update_at DESC LIMIT ${start}, ${size}
  </select>
  
  <select id="selectProducts" resultType="com.company.project.model.returns.mp.ProductResult">
	SELECT
		p.res_id AS resId,
		p.product_name AS productName,
		p.cover_pic_url AS coverPicUrl,
		p.product_price AS productPrice,
		p.product_resume AS productResume,
		p.reserve_num AS reserveNum
	FROM bzm_product p
	WHERE p.delete_flag = 'N' and p.sales_status = 'Y'
	ORDER BY p.hot_no DESC LIMIT ${start}, ${size}
  </select>
  
  <select id="selectMaxUserNo" resultType="java.lang.Integer">
  	SELECT MAX(user_no) FROM bzm_member
  </select>
  
</mapper>