<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.yt.BzmMemberMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.BzmMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_no" jdbcType="INTEGER" property="userNo" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="authentication_flag" jdbcType="CHAR" property="authenticationFlag" />
    <result column="authentication_at" jdbcType="TIMESTAMP" property="authenticationAt" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="member_flag" jdbcType="CHAR" property="memberFlag" />
    <result column="member_at" jdbcType="TIMESTAMP" property="memberAt" />
    <result column="origin_user_id" jdbcType="VARCHAR" property="originUserId" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="level1_num" jdbcType="INTEGER" property="level1Num" />
    <result column="level2_num" jdbcType="INTEGER" property="level2Num" />
    <result column="course_num" jdbcType="INTEGER" property="courseNum" />
    <result column="consume_amount" jdbcType="DECIMAL" property="consumeAmount" />
    <result column="wx_gender" jdbcType="VARCHAR" property="wxGender" />
    <result column="wx_city" jdbcType="VARCHAR" property="wxCity" />
    <result column="wx_province" jdbcType="VARCHAR" property="wxProvince" />
    <result column="wx_country" jdbcType="VARCHAR" property="wxCountry" />
    <result column="wx_mp_qrcode" jdbcType="VARCHAR" property="wxMpQrcode" />
    <result column="delete_flag" jdbcType="CHAR" property="deleteFlag" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
</mapper>