<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.yt.BzmSystemInfoMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.BzmSystemInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="res_id" jdbcType="VARCHAR" property="resId" />
    <result column="service_phone" jdbcType="VARCHAR" property="servicePhone" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="about_us_content" jdbcType="LONGVARCHAR" property="aboutUsContent" />
  </resultMap>
</mapper>