<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.yt.BzmTokenMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.BzmToken">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="last_visit_at" jdbcType="TIMESTAMP" property="lastVisitAt" />
    <result column="overdue_at" jdbcType="TIMESTAMP" property="overdueAt" />
    <result column="is_forbidden" jdbcType="INTEGER" property="isForbidden" />
  </resultMap>
</mapper>